/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= ======= ======= specialty colors ======= ======= ======= */

$bright_accent: #f0552e;
$title_stripe: #88DA2A;
$dataText: #033249;
$dataBox: #ffcc99;
$label_accent: #9c6366;

/* ======= dark accents ======= */
$accent_2: #ed4c2c;

/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */

// /* ======= NASA oranges ======= */
// $color_P_0: #F0562E;	// Main Primary color */
// $color_P_1: #FF9A7F;
// $color_P_2: #FF7A57;
// $color_P_3: #CC350D;
// $color_P_4: #A22200;
//
// /* ======= NASA blues ======= */
// $color_Sa_0: #237298;	// Main Secondary color (1) */
// $color_Sa_1: #65A2C0;
// $color_Sa_2: #3D82A4;
// $color_Sa_3: #0E5C81;
// $color_Sa_4: #054666;
//
// /* ======= NASA greens ======= */
// $color_Sb_0: #88DA2A;	// Main Secondary color (2) */
// $color_Sb_1: #B8EF77;
// $color_Sb_2: #A1E84F;
// $color_Sb_3: #69B90C;
// $color_Sb_4: #4F9300;

/* ======= ======= ======= earthy colors ======= ======= ======= */
/* ======= ======= ======= earthy colors ======= ======= ======= */
/* ======= ======= ======= earthy colors ======= ======= ======= */

/* ======= earthy terracotta ======= */
$color_P_0: #945D60;	// Main Primary color */
$color_P_1: #DFB7B9;
$color_P_2: #B68285;
$color_P_3: #68393C;
$color_P_4: #5E2124;

// /* ======= earthy blues ======= */
// $color_Sa_0: #3A5D5A;	// Main Secondary color (1) */
// $color_Sa_1: #728C8A;
// $color_Sa_2: #51726F;
// $color_Sa_3: #24413F;
// $color_Sa_4: #153B38;

/* ======= earthy greens ======= */
$color_Sb_0: #7D8D59;	// Main Secondary color (2) */
$color_Sb_1: #C9D5AE;
$color_Sb_2: #9EAE7C;
$color_Sb_3: #556337;
$color_Sb_4: #485A1F;

/* ======= ======= ======= green theme ======= ======= ======= */
/* ======= ======= ======= green theme ======= ======= ======= */
/* ======= ======= ======= green theme ======= ======= ======= */

// /* ======= muted greens ======= */
// $color_P_0: #68C84A;	// Main Primary color */
// $color_P_1: #B2ECA0;
// $color_P_2: #8BDE71;
// $color_P_3: #4BB32B;
// $color_P_4: #329014;
//
/* ======= teals ======= */
$color_Sa_0: #389684;	// Main Secondary color (1) */
$color_Sa_1: #8ED2C5;
$color_Sa_2: #5AB09F;
$color_Sa_3: #208773;
$color_Sa_4: #0F6C5A;

// /* ======= muted oranges ======= */
// $color_Sb_0: #EB9157;	// Main Secondary color (2) */
// $color_Sb_1: #FFCDAD;
// $color_Sb_2: #FFB382;
// $color_Sb_3: #D37232;
// $color_Sb_4: #A95117;
//
// /* ======= muted reds ======= */
// $color_C_0: #E05366;	// Main Complement color */
// $color_C_1: #F9A8B4;
// $color_C_2: #F47C8D;
// $color_C_3: #C93045;
// $color_C_4: #A11629;

/* ======= ======= ======= gradients ======= ======= ======= */
/* ======= ======= ======= gradients ======= ======= ======= */
/* ======= ======= ======= gradients ======= ======= ======= */

/* ======= green gradient ======= */
// $secB_grad_0: #4F9300;
// $secB_grad_1: #529900;
// $secB_grad_2: #5fb300;
// $secB_grad_3: #6dcc00;
// $secB_grad_4: #7ae600;

/* ======= purple gradient ======= */
$secB_grad_0: #8585e0;
$secB_grad_1: #7070db;
$secB_grad_2: #5c5cd6;
$secB_grad_3: #4747d1;
$secB_grad_4: #3333cc;

/* ======= blue gradient ======= */
// $secA_grad_0: #295E78;
// $secA_grad_1: #549fc4;
// $secA_grad_2: #4194be;
// $secA_grad_3: #3b85ab;
// $secA_grad_4: #347798;
