<!DOCTYPE html>
<html>
    <head>
        <title>||| ForestSat |||</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles_vertical.css">

        <link href="https://fonts.googleapis.com/css?family=Dosis|Jura|Poiret One|Comfortaa|Fira Sans|Raleway" rel="stylesheet">
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>
        <div id="pageWrap">

            <!-- == sidebar == -->
            <div id="sidebar">
                <div class="title_stripe sidebar_stripe">&nbsp;</div>
            </div>

            <!-- ======= ======= ======= menu ======= ======= ======= -->
            <div id="menuBox">
                <div class="title_stripe">&nbsp;</div>
                <div class="menuGroup signin">
                    <p class="menuLabel">account</p>
                    <a href="#" class="menuItem clearfix">home</a>
                    <a href="#" class="menuItem clearfix">login</a>
                    <a href="#" class="menuItem clearfix">register</a>
                </div>

                <div class="menuGroup users">
                    <p class="menuLabel">users</p>
                    <a href="#" class="menuItem clearfix">My Profile</a>
                </div>

                <div class="menuGroup abstracts">
                    <p class="menuLabel">abstracts</p>
                    <a href="#" class="menuItem clearfix">My Abstracts</a>
                    <a href="#" class="menuItem clearfix">All Abstracts</a>
                    <a href="#" class="menuItem clearfix">New Abstract</a>
                </div>

                <div class="menuGroup admin">
                    <p class="menuLabel">admin</p>
                    <a href="#" class="menuItem clearfix">Admin Tasks</a>
                    <a href="#" class="menuItem clearfix">Select Reviewers</a>
                    <a href="#" class="menuItem clearfix">Assign Reviewers</a>
                    <a href="#" class="menuItem clearfix">Review Abstracts</a>
                    <a href="#" class="menuItem clearfix">Select Abstracts</a>
                </div>
            </div>

            <!-- == content == -->
            <div id="contentBox">

                <!-- ======= ======= ======= title ======= ======= ======= -->
                <div class="titleBox">
                    <p>
                        <span>ForestSat</span>
                        <span>2018</span>
                    </p>
                </div>

                <!-- == messages == -->
                <div id="messages">
                    <p class="notice">&nbsp;</p>
                </div>

                <!-- ======= ======= ======= data ======= ======= ======= -->
                <div id="dataBox">
                    <div class="dataRow dR_1">
                        <h2 class="dataTitle">New Abstract</h2>
                    </div>

                    <div class="dataRow dR_2">
                        <p class="dataLabel">preferred format?</p>
                        <select class="dataEntry leftEntry">
                            <option value="0"></option>
                            <option value="0">forest</option>
                            <option value="0">ocean</option>
                            <option value="0">longer option text</option>
                        </select>
                    </div>

                    <!-- <div class="dataRow dR_2">
                        <p class="dataLabel">primary author</p>
                        <input type="text" class="dataEntry leftEntry" placeholder="firstname">
                        <input type="text" class="dataEntry" placeholder="lastname">
                        <input type="radio" name="presenting" value="false">
                        <i class="radioLabel">presenting</i>
                        <input type="text" class="dataEntry leftEntry" placeholder="institution">
                        <input type="text" class="dataEntry" placeholder="department">
                    </div> -->

                    <div class="dataRow dR_3">
                        <p class="dataLabel keywordLabel"><span>keyword1</span><span>keyword2</span><span>keyword3</span><p>
                        <select class="dataEntry leftEntry">
                            <option value="0"></option>
                            <option value="0">forest</option>
                            <option value="0">ocean</option>
                            <option value="0">longer option text</option>
                        </select>
                        <select class="dataEntry leftEntry">
                            <option value="0"></option>
                            <option value="0">forest</option>
                            <option value="0">ocean</option>
                            <option value="0">longer option text</option>
                        </select>
                        <select class="dataEntry leftEntry">
                            <option value="0"></option>
                            <option value="0">forest</option>
                            <option value="0">ocean</option>
                            <option value="0">longer option text</option>
                        </select>

                        <p class="dataLabel checkLabel">is this an invited presentation?</p>
                        <label class="checkboxBox">
                            <input type="checkbox" class="checkEntry">
                            <i>check if invited</i>
                            <span class="checkmark"></span>
                        </label>


                    </div>

                    <!-- <div class="dataRow dR_3">
                        <p class="dataLabel">secondary authors</p>
                        <div class="scrollBox">
                            <input type="text" class="dataEntry secAuthor" placeholder="firstname">
                            <input type="text" class="dataEntry secAuthor" placeholder="lastname">
                            <input type="radio" name="presenting" value="false">
                            <i class="radioLabel">presenting</i>
                            <input type="text" class="dataEntry leftEntry secAuthor" placeholder="institution">
                            <input type="text" class="dataEntry secAuthor" placeholder="department">
                        </div>
                    </div> -->

                    <!-- <div class="dataRow dR_3">
                        <textarea class="areaEntry leftEntry" rows="16"></textarea>
                    </div> -->

                    <div class="dataRow dR_4">
                        <a id="cancelBtn_3" href="#" class="dataBtn">cancel</a>
                        <a id="authorBtn" href="#" class="dataBtn">add author</a>
                        <a id="prevBtn_3" href="#" class="dataBtn">prev</a>
                        <a id="nextBtn_3" href="#" class="dataBtn">next</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
