/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= dark accents ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= earthy colors ======= ======= ======= */
/* ======= ======= ======= earthy colors ======= ======= ======= */
/* ======= ======= ======= earthy colors ======= ======= ======= */
/* ======= earthy terracotta ======= */
/* ======= earthy greens ======= */
/* ======= ======= ======= green theme ======= ======= ======= */
/* ======= ======= ======= green theme ======= ======= ======= */
/* ======= ======= ======= green theme ======= ======= ======= */
/* ======= teals ======= */
/* ======= ======= ======= gradients ======= ======= ======= */
/* ======= ======= ======= gradients ======= ======= ======= */
/* ======= ======= ======= gradients ======= ======= ======= */
/* ======= green gradient ======= */
/* ======= purple gradient ======= */
/* ======= blue gradient ======= */
/* ======= general ======= */
body {
  margin: 0;
  font-family: "Ariel", sans-serif; }

div {
  box-sizing: border-box; }

table {
  border-collapse: collapse; }

i {
  font-size: 1em;
  font-style: italic;
  color: #94a092; }

#pageWrap {
  display: flex;
  flex-direction: row;
  height: 100%; }

.alert {
  display: none; }

/* ======= sections ======= */
#sidebar, #menuBox, #contentBox {
  margin: 0;
  height: 100vh; }

#menuBox {
  width: 14%;
  min-width: 160px;
  background-color: #945D60; }

#contentBox {
  width: 74%;
  background-color: #5E2124;
  min-width: 400px; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

/* ======= sidebar ======= */
#sidebar {
  width: 14%;
  min-width: 160px;
  background: url(forest_sidebar.jpg) no-repeat;
  background-size: cover;
  z-index: -1; }

/* ======= messages ======= */
#messages {
  height: 30px;
  width: 80%;
  margin: 20px auto;
  margin-top: 60px;
  background-color: #68393C; }

.notice {
  margin: 5px;
  margin-left: 10px;
  text-align: center;
  color: red; }

/* ======= accent ======= */
.titleBox, .title_stripe {
  width: 90%;
  height: 80px;
  text-align: right;
  border-bottom: solid 8px #88DA2A; }

.title_stripe {
  margin: 0;
  margin-top: 16px;
  width: 100%; }

.sidebar_stripe {
  float: right;
  width: 40%;
  clear: both; }

/* ======= titles ======= */
.titleBox > p > span:nth-of-type(1) {
  margin: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 65px;
  color: #f0552e; }

.titleBox > p > span:nth-of-type(2) {
  margin: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 65px;
  color: white; }

/* ======= menu ======= */
.menuGroup {
  width: 90%;
  margin: 10px auto;
  text-align: right; }

.menuLabel {
  margin: 2px;
  padding: 2px;
  padding-left: 10px;
  text-align: left;
  color: #033249;
  background-color: #9c6366; }

#menuBox > div:nth-of-type(2) > p:nth-of-type(1) {
  margin-top: 75px; }

.menuItem {
  display: block;
  height: 20px;
  width: 80%;
  margin: 10px;
  margin-left: 20%;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  border-radius: 4px; }

.signin > a {
  background-color: #208773; }

.users > a {
  background-color: #208773; }

.abstracts > a {
  background-color: #208773; }

.admin > a {
  background-color: #208773; }

.menuItem:hover {
  background-color: #f0552e; }

/* ======= dataBox ======= */
#dataBox {
  width: 80%;
  min-width: 680px;
  height: 420px;
  margin: 20px auto;
  background-color: #945D60; }

.dR_1 {
  height: 60px; }

.dR_2 {
  height: 80px; }

.dR_3 {
  height: 220px; }

.dR_4 {
  height: 60px; }

.scrollBox {
  width: 90%;
  height: 160px;
  margin-left: 20px;
  padding: 5px;
  background-color: #9c6366;
  overflow-y: scroll; }

/* ======= dataBox title ======= */
.dataTitle {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.8em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #033249; }

.dataTitle > span:nth-of-type(1) {
  color: #88DA2A; }

/* ======= dataBox labels ======= */
.dataLabel {
  width: 20%;
  margin: 20px;
  margin-top: 0;
  padding: 2px 20px;
  text-align: left;
  color: #033249;
  background-color: #9c6366; }

.dR_3 > p:nth-of-type(1) {
  margin-top: 10px; }

/* ======= dataBox entries ======= */
.dataEntry {
  height: 25px;
  width: 100px;
  margin: 0 5px;
  padding: 5px;
  font-size: 0.8em;
  text-align: left;
  border-radius: 4px;
  box-sizing: border-box; }

.areaEntry {
  width: 90%; }

.leftEntry {
  margin-left: 30px; }

.radioLabel {
  display: inline-block;
  margin: 0 5px; }

.secAuthor {
  margin-top: 10px; }

/* ======= dataBox buttons ======= */
.dataBtn {
  position: absolute;
  width: 120px;
  height: 20px;
  margin: 5px;
  padding-top: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  background-color: #208773;
  border-radius: 4px; }

.dataBtn:hover {
  background-color: #f0552e; }

.dR_4 > a:nth-of-type(1) {
  margin-left: 30px; }

.dR_4 > a:nth-of-type(2) {
  margin-left: 25%; }

.dR_4 > a:nth-of-type(3) {
  margin-left: 35%; }

.dR_4 > a:nth-of-type(4) {
  margin-left: 45%; }

@media screen and (max-width: 1300px) {
  .dR_4 > a:nth-of-type(1) {
    margin-left: 30px; }

  .dR_4 > a:nth-of-type(2) {
    margin-left: 240px; }

  .dR_4 > a:nth-of-type(3) {
    margin-left: 380px; }

  .dR_4 > a:nth-of-type(4) {
    margin-left: 520px; } }
/* ======= dataBox keywords ======= */
.keywordLabel {
  width: 400px; }

.keywordLabel > span:nth-of-type(2), .keywordLabel > span:nth-of-type(3) {
  margin-left: 70px; }

/* ======= invited checkbox ======= */
.checkLabel {
  width: 400px; }

.checkboxBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkboxBox input {
  position: absolute;
  opacity: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 4px; }

.checkboxBox:hover input ~ .checkmark {
  background-color: #f0552e; }

.checkboxBox input:checked ~ .checkmark {
  background-color: #208773; }

.checkboxBox:hover input:checked ~ .checkmark {
  background-color: #f0552e; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkboxBox input:checked ~ .checkmark:after {
  display: block; }

.checkboxBox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkboxBox > i {
  margin-top: 10px; }

/*# sourceMappingURL=styles_vertical.css.map */
