<!-- ======= _form_hidden.html.erb ======= -->

<!-- ======= corr/pres authors ======= -->
<div>
    <p class="toggle_label">corr/pres authors</p>
    <div> <span>corresponding</span>  <span><input type="text" class="toggle_input" id="corr_author_id", value: "1" %></span></div>
    <div> <span>presenting</span>  <span><input type="text" class="toggle_input" id="pres_author_id", value: "1" %></span></div>
</div>

<!-- ======= abstract categories ======= -->
<input type="text" class="toggle_input" id="abs_title", value: "1" %>
<input type="text" class="toggle_input" id="abs_text", value: "1" %>
<input type="text" class="toggle_input" id="keyword_1", value: "1" %>
<input type="text" class="toggle_input" id="keyword_2", value: "1" %>
<input type="text" class="toggle_input" id="keyword_3", value: "1" %>
<input type="text" class="toggle_input" id="invited", value: "1" %>

<!-- ======= authors/affiliations ======= -->
<input type="text" class="toggle_input" id="author[firstnames][]", "George" %>
<input type="text" class="toggle_input" id="author[lastnames][]", "Bush" %>
<input type="text" class="toggle_input" id="abstract_author[author_types][]", "secondary" %>
<input type="text" class="toggle_input" id="institution", value: "Cornell University" %>
<input type="text" class="toggle_input" id="department", value: "Geology" %>

<!-- ======= presentation request ======= -->
<input type="text" class="toggle_input" id="present_request", value: "1" %>

<!-- ======= reviewers ======= -->
<input type="text" class="toggle_input" id="reviewer1_id", value: "1" %>
<input type="text" class="toggle_input" id="reviewer2_id", value: "1" %>
<input type="text" class="toggle_input" id="reviewer1_rec", value: "1" %>
<input type="text" class="toggle_input" id="reviewer2_rec", value: "1" %>
<input type="text" class="toggle_input" id="accepted", value: "1" %>
<input type="text" class="toggle_input" id="paper", value: "1" %>

<!-- ======= presentation ======= -->
<input type="text" class="toggle_input" id="presentation_id", value: "1" %>
<input type="text" class="toggle_input" id="session_sequence", value: "1" %>
<input type="text" class="toggle_input" id="present_assigned", value: "1" %>
