<!-- ======= users/select_reviewers.html.erb ======= -->
<div id="abstractsHead">                                        # 3 == columns
    <h2 class="sectionTitle">Select Reviewers</h2>
    <table id="reviewersStaticTable">

<div id="abstractsBody">
    <table id="reviewersScrollTable">

<!-- ======= users/assign_reviewers.html.erb ======= -->
<div id="abstractsHead">                                        # 5 == columns
    <h2 class="sectionTitle">Assign Reviewers</h2>
    <table id="assignStaticTable">

<div id="abstractsBody">
    <table id="assignScrollTable">

<!-- ======= abstracts/select_abstracts.html.erb ======= -->
<div id="abstractsHead">                                        # 6 == columns
    <% if @title %>
        <h2 class="sectionTitle"><%= @title %></h2>
    <% else %>
        <h2 class="sectionTitle">Select Abstracts</h2>
    <% end %>
    <table id="revabsStaticTable">

<div id="abstractsBody">
    <table id="revabsScrollTable">

<!-- ======= abstracts/review_abstracts.html.erb ======= -->
<div id="abstractsHead">                                        # 6 == columns
    <% if @title %>
        <h2 class="sectionTitle"><%= @title %></h2>
    <% else %>
        <h2 class="sectionTitle">Select Reviewers</h2>
    <% end %>
    <table id="reviewersStaticTable">

<div id="abstractsBody">
    <table id="reviewersScrollTable">









#
