/* ======= testing ======= */
$test_0: #ffebe6;
$test_1: #ffc3b3;
$test_2: #ed4c2c;
$test_3: #165c80;
$test_4: #fd967d;
$main_title: #f0552e;
$dataText: #033249;

/* ======= dark accents ======= */
$accent_2: #ed4c2c;

/* ======= generated orange ======= */
// $primaryA_0: #F0562E;	// Main Primary color */
// $primaryA_1: #FF9A7F;
// $primaryA_2: #FF7A56;
// $primaryA_3: #CC350E;
// $primaryA_4: #A22200;
//
/* ======= modified orange ======= */
$primaryA_0: #BD563B;	// Main Primary color */
$primaryA_1: #FFAC96;
$primaryA_2: #DF7B61;
$primaryA_3: #9E391F;
$primaryA_4: #731C05;

/* ======= generated blue ======= */
// $secA_0: #237298;	// Main Secondary color (1) */
// $secA_1: #65A2C0;
// $secA_2: #3D82A4;
// $secA_3: #0E5C81;
// $secA_4: #054666;
//
/* ======= modified blue ======= */
$secA_0: #295E78;	// Main Secondary color (1) */
$secA_1: #6793A8;
$secA_2: #41748D;
$secA_3: #184B64;
$secA_4: #073349;

/* ======= generated green ======= */
// $secB_0: #88DA2A;	// Main Secondary color (2) */
// $secB_1: #B8EF77;
// $secB_2: #A1E84F;
// $secB_3: #69B90C;
// $secB_4: #4F9300;
// $secB_5: #B5EF72;

/* ======= modified green ======= */
$secB_0: #75AC36;	// Main Secondary color (2) */
$secB_1: #BDE98A;
$secB_2: #95CA58;
$secB_3: #5A8F1C;
$secB_4: #3A6804;

/* ======= green gradient ======= */
// $secB_grad_0: #4F9300;
// $secB_grad_1: #529900;
// $secB_grad_2: #5fb300;
// $secB_grad_3: #6dcc00;
// $secB_grad_4: #7ae600;

/* ======= purple gradient ======= */
$secB_grad_0: #8585e0;
$secB_grad_1: #7070db;
$secB_grad_2: #5c5cd6;
$secB_grad_3: #4747d1;
$secB_grad_4: #3333cc;

/* ======= blue gradient ======= */
// $secA_grad_0: #295E78;
// $secA_grad_1: #549fc4;
// $secA_grad_2: #4194be;
// $secA_grad_3: #3b85ab;
// $secA_grad_4: #347798;


/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Comfortaa', sans-serif;*/
/*font-family: 'Jura', sans-serif;*/
/*font-family: 'Poiret One', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
