<!DOCTYPE html>
<html>
    <head>
        <title>||| ForestSat |||</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles_6_dev.css">

        <link href="https://fonts.googleapis.com/css?family=Dosis|Jura|Poiret One|Comfortaa|Fira Sans|Raleway" rel="stylesheet">
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>
        <div id="pageWrap">

            <!-- == sidebar == -->
            <div id="sidebar">
                <div class="title_stripe sidebar_stripe">&nbsp;</div>
            </div>

            <!-- == menu == -->
            <div id="menuBox">
                <div class="title_stripe">&nbsp;</div>
                <div class="menuGroup signin">
                    <p class="menuLabel">account</p>
                    <a href="#" class="menuItem clearfix">home</a>
                    <a href="#" class="menuItem clearfix">login</a>
                    <a href="#" class="menuItem clearfix">register</a>
                </div>

                <div class="menuGroup users">
                    <p class="menuLabel">users</p>
                    <a href="#" class="menuItem clearfix">My Profile</a>
                </div>

                <div class="menuGroup abstracts">
                    <p class="menuLabel">abstracts</p>
                    <a href="#" class="menuItem clearfix">My Abstracts</a>
                    <a href="#" class="menuItem clearfix">All Abstracts</a>
                    <a href="#" class="menuItem clearfix">New Abstract</a>
                </div>

                <div class="menuGroup admin">
                    <p class="menuLabel">admin tasks</p>
                    <a href="#" class="menuItem clearfix">admin</a>
                    <a href="#" class="menuItem clearfix">Select Reviewers</a>
                    <a href="#" class="menuItem clearfix">Assign Reviewers</a>
                    <a href="#" class="menuItem clearfix">Review Abstracts</a>
                    <a href="#" class="menuItem clearfix">Select Abstracts</a>
                </div>
            </div>

            <!-- == content == -->
            <div id="contentBox">

                <!-- == titleBox == -->
                <div class="titleBox">
                    <p>
                        <span>ForestSat</span>
                        <span>2018</span>
                    </p>
                </div>

                <!-- == messages == -->
                <div id="messages">
                    <p class="notice">&nbsp;</p>
                </div>

                <!-- == dataBox == -->
                <div id="dataBox">
                    <h2 class="dataTitle">New Abstract</h2>
                    <!-- <p class="dataLabel">title</p>
                    <input type="text" class="dataEntry textEntry"> -->
                    <!-- <p class="dataLabel">text</p>
                    <textarea class="dataEntry areaEntry" rows="10" cols="50"></textarea> -->
                    <p class="dataLabel">authors</p>
                    <input type="text" class="dataEntry authorEntry">
                    <input type="text" class="dataEntry authorEntry">
                    <input type="text" class="dataEntry afflEntry">
                    <input type="text" class="dataEntry afflEntry">
                </div>

            </div>
        </div>
    </body>
</html>
