<!DOCTYPE html>
<html>
    <head>
        <title>||| ForestSat |||</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles_5_dev.css">

        <link href="https://fonts.googleapis.com/css?family=Dosis|Jura|Poiret One|Comfortaa|Fira Sans|Raleway" rel="stylesheet">
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>
        <div id="bgBanner"></div>

        <div id="pageWrap">

            <!-- == menu == -->
            <div id="menuBox">
                <div class="menuRow menuRow_1">
                    <div class="signinItems menuGroup">
                        <p class="menuLabel">admin</p>
                        <a href="#" class="menuItem">Home</a>
                        <a href="#" class="menuItem">Login</a>
                        <a href="#" class="menuItem">Register</a>
                    </div>
                    <div class="titleItem menuGroup">
                        <p class="title">
                            <span>ForestSat</span>
                            <span>2018</span>
                        </p>
                    </div>
                </div>
                <div class="menuRow menuRow_2">
                    <div class="userItems menuGroup">
                        <p class="menuLabel">users</p>
                        <a href="#" class="menuItem">My Profile</a>
                    </div>
                    <div class="abstractItems menuGroup">
                        <p class="menuLabel">abstracts</p>
                        <a href="#" class="menuItem">My Abstracts</a>
                        <a href="#" class="menuItem">All Abstracts</a>
                        <a href="#" class="menuItem">New Abstract</a>
                    </div>
                    <div class="subtitleItem menuGroup">
                        <p id="subTitle">October 2-5, 2018</p>
                    </div>
                </div>
                <div class="menuRow menuRow_3">
                    <div class="adminItems menuGroup">
                        <p class="menuLabel">admin</p>
                        <a href="#" class="menuItem">Admin Tasks</a>
                    </div>
                    <div class="reviewerItems menuGroup">
                        <p class="menuLabel">reviewers</p>
                        <a href="#" class="menuItem">Select Reviewers</a>
                        <a href="#" class="menuItem">Assign Reviewers</a>
                        <a href="#" class="menuItem">Review Abstracts</a>
                        <a href="#" class="menuItem">Select Abstracts</a>
                    </div>
                </div>
            </div>

            <!-- == messages == -->
            <div id="messages">
                <p class="notice">&nbsp;</p>
            </div>

            <!-- == yield == -->
            <div id="yield" class="section" data-state="default">
                <div id="contentBox">
                    <h2 class="sectionTitle">Welcome to the <span>ForestSat 2018</span> Abstract Submission Tool</h2>
                    <p class="sectionText">
                        To submit an abstract:
                        <ul class="sectionInfo">
                            <li><span>register</span> as a new User</li>
                            <li><span>reply</span> to confirmation email</li>
                            <li><span>log In</span> to your new account</li>
                            <li><span>submit</span> your abstract</li>
                        </ul>
                    </p>
                    <p class="sectionText">
                        Upon successfully submitting your abstract, an email confirmation will be sent
                    </p>
                </div>
            </div>

        <!-- <div id="bgFade"></div> -->
        </div>
    </body>
</html>
