<!DOCTYPE html>
<html>
    <head>
        <title>||| ForestSat |||</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles_4_dev.css">

        <link href="https://fonts.googleapis.com/css?family=Dosis|Jura|Poiret One|Comfortaa|Fira Sans|Raleway" rel="stylesheet">
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>
        <div id="bgBanner"></div>

        <div id="pageWrap">

            <!-- == menu == -->
            <div id="menuBox">

                <div id="menuRow_1" class="menuRow">
                    <div id="userItems" class="menuGroup">
                        <p class="menuLabel">users</p>
                        <a href="#" class="menuItem">My Profile</a>
                    </div>
                    <div id="abstractItems" class="menuGroup">
                        <p class="menuLabel">abstracts</p>
                        <a href="#" class="menuItem">My Abstracts</a>
                        <a href="#" class="menuItem">All Abstracts</a>
                        <a href="#" class="menuItem">New Abstract</a>
                    </div>
                    <div id="reviewItems" class="menuGroup">
                        <p class="menuLabel">reviewers</p>
                        <a href="#" class="menuItem">Review Abstracts</a>
                        <a href="#" class="menuItem filler"></a>
                    </div>
                </div>
                <div id="menuRow_2A" class="menuRow">
                    <div id="authorItems" class="menuGroup">
                        <p class="menuLabel">admin</p>
                        <a href="#" class="menuItem">Admin Tasks</a>
                    </div>
                    <div id="adminItems" class="menuGroup">
                        <p class="menuLabel">select/assign reviewers</p>
                        <a href="#" class="menuItem">Assign Abstracts</a>
                        <a href="#" class="menuItem">Select Abstracts</a>
                    </div>
                    <div id="sessionItems" class="menuGroup">
                        <p class="menuLabel">sessions</p>
                        <a href="#" class="menuItem">List View</a>
                        <a href="#" class="menuItem">Chart View</a>
                    </div>
                </div>

                <!-- ======= title ======= -->
                <div id="menuRow_2B" class="menuRow">
                    <div id="titleBg">
                        <p id="mainTitle">
                            <span>ForestSat</span>
                            <span>2018</span>
                        </p>
                    </div>
                </div>

                <div id="menuRow_3" class="menuRow">
                    <div id="signinItems" class="menuGroup">
                        <p class="menuLabel">&nbsp;</p>
                        <a href="#" class="menuItem">Home</a>
                        <a href="#" class="menuItem">Register</a>
                        <a href="#" class="menuItem">Log in</a>
                    </div>
                    <div class="menuGroup">
                        <p id="subTitle">October 2-5, 2018</p>
                    </div>
                </div>
            </div>

            <!-- == messages == -->
            <div id="messages">
                <p class="notice">&nbsp;</p>
            </div>

            <!-- == yield == -->
            <div id="yield" class="section" data-state="default">
                <div class="titleInfoBox">&nbsp;
                    <h2 class="sectionTitle">Welcome to the <span>ForestSat 2018</span> Abstract Submission Tool</h2>
                    <p class="sectionText">
                        To submit an abstract:
                        <ul class="sectionInfo">
                            <li><span>register</span> as a new User</li>
                            <li><span>reply</span> to confirmation email</li>
                            <li><span>log In</span> to your new account</li>
                            <li><span>submit</span> your abstract</li>
                        </ul>
                    </p>
                    <p class="sectionText">
                        Upon successfully submitting your abstract, an email confirmation will be sent
                    </p>
                </div>
            </div>

        <!-- <div id="bgFade"></div> -->

    </body>
</html>
