/* ======= general ======= */
html {
    /* forest.jpg forest_green forest_hicon forest_banner */
    /*background: url(forest_banner.jpg) no-repeat top left fixed;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
#bgBanner {
    position: fixed;
    height: 148px;
    width: 100%;
    top: 0;
    left: 0;
    /*background-color: red;*/
    background:url(forest_banner.jpg);
    /*background size: 100% 700px;*/
    z-index: -1;
}
#bgFade {
    /*position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:transparent;
    background: -moz-linear-gradient(top, rgba( 255, 255, 255, 0) 0%, rgba( 255, 255, 255, 1 ) 22% );
    background: -ms-linear-gradient(top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 22% );
    background: -o-linear-gradient( top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 22% );
    background: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 22% );
    background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 0%, rgba( 255, 255, 255, 1 ) 22% );
    z-index: -1;*/
}
body {
    font-family: "Ariel", sans-serif;
}
div {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}
h4 {
    margin: 0;
}
i {
    font-size: 1em;
    font-style: italic;
    color: #94a092;
}
#pageWrap {
    width: 960px;
    margin: 0 auto;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

/* ======= title ======= */
#menuRow_2B {
    margin-left: 5px;
    width: 940px;
    height: 62px;
    text-align: right;
}
#titleBg {
    padding: 0;
}
#mainTitle {
    margin-top: -20px;
    height: 62px;
    margin: 0;
    margin-left: -5px;
    padding-bottom: 10px;
    border-bottom: solid 8px #ffa366;
}
#mainTitle > span:nth-of-type(1) {
    margin: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Comfortaa', sans-serif;*/
    /*font-family: 'Jura', sans-serif;*/
    /*font-family: 'Poiret One', sans-serif;*/
    /*font-family: 'Dosis', sans-serif;*/
    font-size: 65px;
    /*color: #fc4a1a;*/
    color: #f0552e;
    /*color: #fc7a4f;*/
}
#mainTitle > span:nth-of-type(2) {
    margin: 0;
    width: 100%;
    /*font-family: 'Comfortaa', sans-serif;*/
    /*font-family: 'Jura', sans-serif;*/
    /*font-family: 'Poiret One', sans-serif;*/
    /*font-family: 'Dosis', sans-serif;*/
    font-family: 'Fira Sans', sans-serif;
    font-size: 65px;
    color: white;
}
#subTitle {
    width: 464px;
    margin: 0;
    margin-bottom: 10px;
    text-align: right;
    font-size: 2em;
    font-style: italic;
    color: #813772;
    font-family: 'Fira Sans', sans-serif;
}

/* ======= content ======= */
.titleInfoBox {
    width: 940px;
    height: 320px;
    margin: 20px auto;
    margin-left: 5px;
    text-align: center;
    /*background-color: rgba(235, 224, 224, 0.8);*/
    background-color: rgba(255, 163, 102, 0.8);
    /*background-color: #ffa366;*/
    /*border: solid 2px #cad0c8;*/
}
.sectionTitle {
    width: 80%;
    margin: 20px auto;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}
.sectionTitle > span:nth-of-type(1) {
    color: #813772;
}
.sectionText, .sectionInfo {
    width: 74%;
    margin: 20px auto;
    font-size: 1.2em;
    text-align: left;
}
.sectionInfo {
    width: 60%;
    list-style-type: square;
}
.sectionInfo > li > span:nth-of-type(1) {
    color: #fc4a1a;
}

/* ======= menu ======= */
#menuBox {
    min-width: 960px;
    height: 206px;
    box-sizing: border-box;
}
.menuRow {
    height: 62px;
    margin: 0;
    padding-left: 6px;
    margin-bottom: 6px;
}
.menuGroup {
    display: inline-block;
    height: 100%;
    margin: 5px 0;
    margin-right: 4px;
    text-align: center;
    /*background-color: #ebe0e0;*/
}
#menuRow_2A {
    display: none;
}

/* ======= menu groups ======= */
#signinItems, #signinFiller {
    width: 464px;
    text-align: center;
}
#abstractItems, #adminItems {
    width: 440px;
    text-align: center;
}
#reviewItems, #sessionItems {
    width: 320px;
    text-align: center;
}
#authorItems, #userItems {
    width: 160px;
    text-align: center;
}

/* ======= visible items ======= */
#signinItems, #signinFiller {
    /*background-color: rgba(235, 224, 224, 0.3);*/
}
#userFullName {
    display: inline-block;
    width: 116px;
    height: 16px;
    margin: 1px;
    vertical-align: bottom;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: #813772;
}

/* ======= hidden items ======= */
#userItems > p, #abstractItems > p, #reviewItems > p, #authorItems > p, #adminItems > p, #sessionItems > p {
    visibility: hidden;
}
#userItems > a, #abstractItems > a, #reviewItems > a, #authorItems > a, #adminItems > a, #sessionItems > a {
    visibility: hidden;
}
#userFullName {
    visibility: hidden;
}

/* ======= menu labels/items ======= */
.menuLabel {
    margin: 2px auto;
    font-size: 1em;
    font-style: italic;
    color: white;
}
.menuItem {
    display: inline-block;
    width: 116px;
    height: 16px;
    margin: 1px;
    vertical-align: bottom;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    /*border-radius: 4px;*/
}
/*.menuItem {
    color: white;
    border: solid 2px #cad0c8;
}*/
.menuItem {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    color: #813772;
    background-color: #33cc33;
    border-bottom: solid 4px #fc4a1a;
}
.menuItem:hover {
    color: white;
    background-color: #813772;
    border-bottom: solid 4px #ffa366;
}
