body {
    font-family: "Ariel", sans-serif;
}
table, th, td {
    text-align: center;
}
label, .field-label {
    color: salmon;
}

/* ======= yield ======= */
#yield {
    height: 500px;
    overflow-y: scroll;
}

/* ======= abstract input container ======= */
#new_abstract {
    position: relative;
    width: 960px;
    height: 380px;
    min-width: 760px;
    padding: 30px;
    background-color: #eee;
    box-sizing: border-box;
}
.input_box {
    position: relative;
    width: 760px;
    height: 320px;
    margin: 2px auto;
    padding: 20px;
    border: solid 2px teal;
    box-sizing: border-box;
}
.abstractBtns {
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 20px;
    font-size: 1em;
    background-color: red;
}
#prevBtn {
    bottom: 20px;
    left: 0;
}
#addAuthorBtn {
    display: none;
    bottom: 20px;
    right: 140px;
}
#nextBtn {
    bottom: 20px;
    right: 34px;
}

/* ======= abstract input elements ======= */
.toggle_input {
    display: none;
}
#abstract_abs_title {
    display: block;
    height: 30px;
    width: 90%;
    padding: 5px;
    font-size: 1em;
    border: solid 1px black;
    box-sizing: border-box;
}
#abstract_abs_text {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 5px;
    font-size: 1em;
    border: solid 1px black;
    box-sizing: border-box;
}
.author, .affiliation, .sec_author, .keyword, #abstract_present_request, .optional_select {
    float: left;
    height: 30px;
    padding: 5px;
    font-size: 1em;
    border: solid 1px black;
    box-sizing: border-box;
}
.author {
    width: 120px;
    margin: 10px 2px;
}
.affiliation {
    width: 180px;
    margin: 10px 2px;
}
.input_label {
    display: none;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    box-sizing: border-box;
}
.sec_author {
    display: block;
    width: 120px;
    margin: 10px 2px;
}
#secondary_authors {
    height: 50px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 20px;
    margin-left: 100px;
    cursor: pointer;
}
#abstract_present_request {
    float: none;
}

/* ======= abstract next button ======= */



/*.toggle_label {
    margin: 5px auto;
}*/
/*.toggle_input {
    height: 30px;
    width: 300px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #eee;
}*/

/* ======= abstracts ======= */
.author-group {
    margin: 10px;
}
.author-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px 10px;
    height: 20px;
}
.author-col {
    margin: 5px;
}
.author-label {
    margin: 5px;
    font-size: 1em;
    color: red;
}
.author-row > select {
    height: 20px;
}
.abstract-row {
    height: 20px;
    width: 100%;
}
.abstract-label {
    float: left;
    margin: 5px;
    width: 200px;
    text-align: right;
}
.abstract-input {
    float: left;
    margin: 5px;
    width: 400px;
    text-align: left;
}
.abstract-text {
    width: 70%;
    padding: 20px;
    border: solid 1px purple;
    box-sizing: border-box;
}
.main-col > a {
    color: orange;
}
