<!-- ======= colors.html.erb ======= -->

<table id="colorsTable">
    <thead>
        <tr>
            <th>name</th>
            <th>chip</th>
            <th>hex</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorGroup" colspan="3">greens</td>
        </tr>
        <tr>
            <td>$really_dark_green</td>
            <td id="really_dark_green"></td>
            <td>#134110</td>
        </tr>
        <tr>
            <td>$dk_green</td>
            <td id="dk_green"></td>
            <td>#35602f</td>
        </tr>
        <tr>
            <td>$med_green</td>
            <td id="med_green"></td>
            <td>#1f8e0b</td>
        </tr>
        <tr>
            <td>$lt_med</td>
            <td id="lt_med"></td>
            <td>#c2ecc1</td>
        </tr>
        <tr>
            <td>$lt_green</td>
            <td id="lt_green"></td>
            <td>#e5f6e6</td>
        </tr>
        <tr>
            <td>$lt_yellow_green</td>
            <td id="lt_yellow_green"></td>
            <td>#cfecc1</td>
        </tr>
        <tr>
            <td>$tan</td>
            <td id="tan"></td>
            <td>#f4e1cd</td>
        </tr>
        <tr>
            <td>$very_lt_orange</td>
            <td id="very_lt_orange"></td>
            <td>#eedbc8</td>
        </tr>
        <tr>
            <td>$lt_orange</td>
            <td id="lt_orange"></td>
            <td>#f5ca9a</td>
        </tr>
        <tr>
            <td>$brown</td>
            <td id="brown"></td>
            <td>#803f14</td>
        </tr>
        <tr>
            <td>$MENU_orange</td>
            <td id="MENU_orange"></td>
            <td>#a15608</td>
        </tr>
        <tr>
            <td>$lt_tan</td>
            <td id="lt_tan"></td>
            <td>#fef4f0</td>
        </tr>
        <tr>
            <td>$dk_gray</td>
            <td id="dk_gray"></td>
            <td>#404040</td>
        </tr>
        <tr>
            <td>$lt_gray</td>
            <td id="lt_gray"></td>
            <td>#cccccc</td>
        </tr>
        <tr>
            <td>$bkgd_primary</td>
            <td id="bkgd_primary"></td>
            <td>#f6fbf2</td>
        </tr>
        <tr>
            <td>$bkgd_secondary</td>
            <td id="bkgd_secondary"></td>
            <td>#fefdfb</td>
        </tr>
    </tbody>
</table>
