<div class="dataBox">
    <div class="dataRow fR_1">
        <h2 class="dataTitle">FAQ</h2>
    </div>
    <div class="dataRow fR_4">
        <h4 class="dataTitle">
            This page will contain helpful information on submitting, reviewing and selecting abstracts.  Stay tuned!
        </h4>
    </div>
</div>
