<!-- ======= home.html.erb ======= -->

<div class="dataBox">
    <div class="dataRow hR_1">
        <h2 class="dataTitle homeTitle">Welcome to the ForestSat 2018</h2>
        <h2 class="dataTitle homeTitle">Abstract Submission Tool<span> (demo version)</span></h2>
    </div>
    <div class="dataRow hR_2">
        <p class="sectionText">
            To submit an abstract:
            <ul class="sectionInfo">
                <li><span>register</span> as a new User (see menu column, left)</li>
                <li><span>reply</span> to confirmation email</li>
                <li><span>log in</span> to your new account</li>
                <li><span>submit</span> your abstract
                    <% if current_user %>
                        (<span>New Abstract</span> button)
                    <% end %>
                </li>
            </ul>
        </p>
        <p class="sectionText">
            Upon successfully submitting your abstract, an email confirmation will be sent
        </p>
    </div>
</div>
