<!-- ======= home.html.erb ======= -->

<div class="dataBox">
    <div class="dataRow hR_1">
        <h2 class="dataTitle homeTitle">Welcome to the <span>ForestSat 2018 </span>(demo version)</h2>
        <h2 class="dataTitle homeTitle">Abstract Submission Tool</h2>
    </div>
    <div class="dataRow hR_2">
        <p class="sectionText">
            To submit an abstract:
            <ul class="sectionInfo">
                <li><span>register</span> as a new User (see menu column, left)</li>
                <li><span>reply</span> to confirmation email</li>
                <li><span>log in</span> to your new account</li>
                <li><span>submit</span> your abstract
                    <% if current_user %>
                        (<span>New Abstract</span> button)
                    <% end %>
                </li>
            </ul>
        </p>
        <p class="sectionText">
            Upon successful submission of your abstract, an email confirmation will be sent to your registered email address.
        </p>
        <br>
        <p class="sectionText">
            Questions or comments: send email to: <%= mail_to "submissions@forestsat.com" %>
        </p>
        <!-- <p class="sectionText">
            <%= link_to "colors", "/colors", class: "linkItem" %>
        </p> -->
    </div>
</div>
