<!-- ======= home.html.erb ======= -->
<!-- <tr>
    <td colspan="3">
        <div class="chip" id="chip_1"></div>
        <div class="chip" id="chip_2"></div>
        <div class="chip" id="chip_3"></div>
        <div class="chip" id="chip_4"></div>
        <div class="chip" id="chip_5"></div>
        <div class="chip" id="chip_6"></div>
        <div class="chip" id="chip_7"></div>
        <div class="chip" id="chip_8"></div>
        <div class="chip" id="chip_9"></div>
        <div class="chip" id="chip_10"></div>
        <div class="chip" id="chip_11"></div>
        <div class="chip" id="chip_12"></div>
        <div class="chip" id="chip_13"></div>
        <div class="chip" id="chip_14"></div>
        <div class="chip" id="chip_15"></div>
        <div class="chip" id="chip_16"></div>
        <div class="chip" id="chip_17"></div>
        <div class="chip" id="chip_18"></div>
        <div class="chip" id="chip_19"></div>
        <div class="chip" id="chip_20"></div>
        <div class="chip" id="chip_21"></div>
        <div class="chip" id="chip_22"></div>
        <div class="chip" id="chip_23"></div>
        <div class="chip" id="chip_24"></div>
        <div class="chip" id="chip_25"></div>
        <div class="chip" id="chip_26"></div>
    </td>
</tr> -->

<div class="dataBox">
    <div class="dataRow hR_1">
        <h2 class="dataTitle homeTitle">Welcome to the <span>ForestSat 2018</span></h2>
        <h2 class="dataTitle homeTitle">Abstract Submission Tool</h2>
    </div>
    <div class="dataRow hR_2">
        <p class="sectionText">
            To submit an abstract:
            <ul class="sectionInfo">
                <li><span>register</span> as a new User (see menu column, left)</li>
                <li><span>reply</span> to confirmation email</li>
                <li><span>log in</span> to your new account</li>
                <li><span>submit</span> your abstract
                    <% if current_user %>
                        (<span>New Abstract</span> button)
                    <% end %>
                </li>
            </ul>
        </p>
        <p class="sectionText">
            Upon successfully submitting your abstract, an email confirmation will be sent
        </p>
    </div>
</div>
