<div class="dataBox">
    <% flash.now[:notice] = "Please check your email." %>
    <div class="dataRow hR_2">
        <h2 class="welcomeMsg">Welcome!</h2>
        <p class="welcomeText">
          Please check your email. A confirmation link should be sent to you within a few minutes.  Click on the link and sign in to access your new account.
        </p>
    </div>
</div>
