<div class="dataBox">

    <!-- ======= ======= ======= title ======= ======= ======= -->
    <div class="dataRow fR_1">
        <h2 class="dataTitle"><%= @affiliation[:institution] + " " + @affiliation[:department] %></h2>
    </div>

    <%= render 'form', affiliation: @affiliation %>

</div>
