/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= ======= ======= specialty colors ======= ======= ======= */
/* ======= ======= ======= specialty colors ======= ======= ======= */

// $bright_accent: #f0552e;
$bright_accent: #d33155;
$title_stripe: #88DA2A;
$dataBox: #B1B9B7;
$dataText: #033249;
$dataRow_lg: #BcC4Bd;
$accent_2: #ed4c2c;
$menuBox: #cc6a19;	// menu panel background */
$menuLabel: #c06326;
$menuItemsBorder: #ab5821;

$light_purple_1: #ebebfa;
$hilite_green: #0ebe0e;
$button_blue: #7070db;
$button_green: #1f8e0b;
$button_orange: #cc6a19;

/* ======= NASA colors ======= */
$really_dark_green: #134110;
$dk_green: #35602f;
$med_green: #1f8e0b;
$lt_med: #c2ecc1;
$lt_green: #e5f6e6;
$lt_yellow_green: #cfecc1;

$tan: #f4e1cd;
$very_lt_orange: #eedbc8;
$lt_orange: #f5ca9a;
$brown: #803f14;
$MENU_orange: #a15608;
$lt_tan: #fef4f0;

$dk_gray: #404040;
$lt_gray: #cccccc;

$bkgd_primary: #f6fbf2;
$bkgd_secondary: #fefdfb;

/* ======= scheme 2 ======= */
$label_accent: #a1aaa8;
$form_label: #616b69;
$color_P_4: #cad0c8;
$color_P_3: #bdc4ba;
$scrollBox: #E2E4E3;

/* ======= earthy terracotta ======= */
// $dataBox: #945D60;	// Main Primary color */
$color_P_1: #DFB7B9;
$color_P_2: #B68285;
// $color_P_3: #68393C;
// $color_P_4: #5E2124;

/* ======= earthy greens ======= */
$color_Sb_0: #7D8D59;	// Main Secondary color (2) */
$color_Sb_1: #C9D5AE;
$color_Sb_2: #9EAE7C;
$color_Sb_3: #556337;
$color_Sb_4: #485A1F;

/* ======= teals ======= */
$color_Sa_0: #389684;	// Main Secondary color (1) */
$color_Sa_1: #8ED2C5;
$color_Sa_2: #5AB09F;
// $hilite_green: #208773;
$color_Sa_4: #0F6C5A;

/* ======= purple gradient ======= */
$secB_grad_0: #8585e0;
$secB_grad_2: #5c5cd6;
$secB_grad_3: #4747d1;
$secB_grad_4: #3333cc;

/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */
/* ======= ======= ======= NASA theme colors ======= ======= ======= */

// /* ======= NASA oranges ======= */
// $dataBox: #F0562E;	// Main Primary color */
// $color_P_1: #FF9A7F;
// $color_P_2: #FF7A57;
// $color_P_3: #CC350D;
// $color_P_4: #A22200;
//
// /* ======= NASA blues ======= */
// $color_Sa_0: #237298;	// Main Secondary color (1) */
// $color_Sa_1: #65A2C0;
// $color_Sa_2: #3D82A4;
// $hilite_green: #0E5C81;
// $color_Sa_4: #054666;
//
// /* ======= NASA greens ======= */
// $color_Sb_0: #88DA2A;	// Main Secondary color (2) */
// $color_Sb_1: #B8EF77;
// $color_Sb_2: #A1E84F;
// $color_Sb_3: #69B90C;
// $color_Sb_4: #4F9300;
