<h3>ForestSat 2018</h3>
<h2>Abstract Submission Tool</h2>

<p>Welcome <%= @email %>!</p>

<p>Thanks for registering for the ForestSat2018 Abstract Submission Tool.  Please confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
